<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Idle Game</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="container" id="application">
      <h1>Idle Game</h1>
      <div id="flash-messages">
        <% flash.each do |type, msg| %>
          <div
            <% if type == "alert" %>
              class="alert alert-warning"
            <% else %>
              class="alert alert-info"
            <% end %>
          >
            <%= msg %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
